
<web-app>
    <servlet>
        <servlet-name>sample</servlet-name>
        <servlet-class>profile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sample</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>session</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>session1</servlet-name>
        <servlet-class>session1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>session1</servlet-name>
        <url-pattern>/session1</url-pattern>
    </servlet-mapping>
</web-app>
